.contador {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}

.contador_vista {
    font-size: 40px;
    color: black;
}

.botonContador {
    font-size: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
.botonContador:hover {
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}

.botonContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}

.reset {
    width: 120px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: lightgreen;
    color: rgb(16, 0, 54);
    font-weight: bold;
    border: 1px solid rgb(16, 0, 54);
    transition: 0.2s ease-in-out;
}