/*body{
    background-color: #edf1f5;
    margin-top:20px;
}*/
.card {
    margin-bottom: 30px;
    background-color: #edf1f5;
    margin-top:20px;
    
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: darkorange;
    background-clip: border-box;
    border: 2 solid;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.imagen{
    border-radius: 20px;
    border-color: black;
    display: block;
    width: 450px;
    height: 450px;
}

.carrito{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
